body {
overflow: hidden;
	background-color: black;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;


}
.stars{

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image:
            radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
            radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
            radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
            radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
            radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
            radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
            background-repeat: repeat;
            background-size: 200px 200px;
            animation: scroll 10s linear infinite;
}
@keyframes scroll {
  0% {
    opacity: 1;
    background-position top 0px left 100px;
    translateY(0);
    animation-timing-function: ease-in;
  }

  100% {
    opacity: 1;
    translateY(-100px);
   background-position: bottom 50px right 100px;
  }
}
#picture{
	position: absolute;
	top:30%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
}
#paragraph{
	font-size:1.3em;
	color:white;
	background;
	position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	padding: 2em;
	text-align: center;
	border-color: white;
	border-style: solid;
	border-radius: 25px;  
	border-width: 0.2em;


}
#paragraph:hover:before {
  background-position: 100% 100%;
}
#paragraph:hover{
    background-position: -10% 0%;

}
